.box_parent div.paragraf {
  text-align: left;
  margin: 0; }

.paragraf p {
  text-align: left !important;
  margin-bottom: 0 !important; }

.txt_area {
  display: none; }

.btn_img {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

input.hidden {
  background-color: transparent;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 2px;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  border: none;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s; }

.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px; }

.thumbnail {
  padding: 0; }

.thumbnailss {
  padding: 0; }

input.checkbox {
  background-color: transparent;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 2px;
  outline: none;
  width: 5%;
  height: 3rem;
  font-size: 16px;
  border: none;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s; }

/*.show-border {
    border-bottom: 1px solid #26a69a;
    box-shadow: 1px 0 0 #26a69a;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    outline: none;
    height: 3rem;
    width: 150px;
    font-size: 16px;
    padding: 0;
    margin-left: 10px;
}*/
.Lat_box .filed i {
  margin-left: 10px;
  display: inline-block;
  color: #26a69a; }

.Lat_box .filed label {
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  margin-left: 15px;
  color: #26a69a;
  display: inline-block; }

.Lat_box .filed {
  margin: 8px 0;
  display: inline-block;
  width: 33%; }

.information {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 8px; }
  .information table, .information th, .information td {
    border: none; }
  .information td, .information th {
    padding: 0 10px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    border: none; }
  .information th {
    font-weight: 900;
    font-size: 15px;
    padding: 10px 10px; }
  .information .fa-pencil-alt {
    color: #26a69a; }
  .information tr {
    border-bottom: solid 1px #eee; }

table.Facility tr td {
  padding: 10px 10px; }

table.Facility .fa-times {
  color: darkred; }

.add_facility {
  width: 400px;
  background-color: #fff;
  border: solid 2px #26a69a;
  margin: auto;
  position: fixed;
  top: 200px;
  height: 200px;
  left: 0;
  right: 0;
  z-index: 50;
  display: none; }
  .add_facility > div {
    margin-top: 20px;
    text-align: left; }
  .add_facility span {
    padding: 10px 15px;
    font-size: 17px;
    width: 150px;
    font-weight: 700; }
  .add_facility select {
    width: 200px; }
  .add_facility label {
    width: 200px; }

.txt_right {
  text-align: right; }

@media screen and (max-width: 540px) {
  .wrapper .box_parent .img_box {
    display: block;
    width: 100%; } }

a.booking {
  font-size: 12px;
  font-weight: bold; }

.delete {
  color: red !important; }

#thumbnailss li img {
  width: 400px;
  height: 320px; }

#thumbnail li img {
  width: 400px;
  height: 320px; }

.slippry_box {
  width: 48%;
  display: inline-block;
  position: absolute;
  right: -85px; }

.slippry_boxs {
  width: 48%;
  display: inline-block;
  position: absolute;
  right: -85px; }

.sy-slides-wrap {
  width: 50% !important; }

.thumb-box {
  margin-left: -1%;
  width: 49%; }
  .thumb-box .thumbe li {
    float: left;
    text-align: center;
    padding: 0 1%;
    list-style: none; }
    .thumb-box .thumbe li img {
      width: 150px;
      opacity: .8;
      border-bottom: 4px solid transparent;
      height: 100px; }
      .thumb-box .thumbe li img.actives {
        opacity: 1; }
    .thumb-box .thumbe li:hover img {
      opacity: 1; }

.thumb-boxs {
  margin-left: -1%;
  width: 49%; }
  .thumb-boxs .thumbs li {
    float: left;
    text-align: center;
    padding: 0 1%;
    list-style: none; }
    .thumb-boxs .thumbs li img {
      width: 150px;
      opacity: .8;
      border-bottom: 4px solid transparent;
      height: 100px; }
      .thumb-boxs .thumbs li img.active {
        opacity: 1; }
    .thumb-boxs .thumbs li:hover img {
      opacity: 1; }

.cont {
  width: 720px; }

.conts {
  width: 720px; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  justify-content: flex-start; }

.containers {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  justify-content: flex-start; }

.single-item {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  margin: 5px;
  border-radius: 10px;
  color: #888; }

.single-items {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  margin: 5px;
  border-radius: 10px;
  color: #888; }

.pagination {
  padding: 20px;
  padding-left: 50px !important; }
  .pagination,
  .pagination * {
    user-select: none; }
  .pagination a {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer; }
    .pagination a.disabled {
      opacity: .3;
      pointer-events: none;
      cursor: not-allowed; }
    .pagination a.current {
      background: #f3f3f3; }

.paginations {
  padding: 20px;
  padding-left: 50px !important; }
  .paginations,
  .paginations * {
    user-select: none; }
  .paginations a {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer; }
    .paginations a.disableds {
      opacity: .3;
      pointer-events: none;
      cursor: not-allowed; }
    .paginations a.currents {
      background: #f3f3f3; }

.button_head {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: fixed;
  z-index: 1000; }

i.fa-times {
  color: red;
  font-size: 18px;
  position: absolute;
  z-index: 5;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: none;
  text-align: center;
  right: 0; }

