
    <div class="bgc-white p-20 bd">
        <h6 class="c-grey-900">Search Accommodation</h6>
        <div class="mT-30">
            <form method="post">
                @Html.AntiForgeryToken()
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Accommodation ID</label>
                        <input type="number" class="form-control" id="inputAccommodationID" name="AccommodationID" placeholder="50620">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Name</label>
                        <input type="text" class="form-control" id="inputName" name="Name" placeholder="Hilton">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">City</label>
                        <input type="text" class="form-control" id="inputCity" name="CityName" placeholder="Istanbul">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress2">Country</label>
                        <input type="text" class="form-control" id="inputCountry" name="Country" placeholder="Turkey">
                    </div>
                </div>
                <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15">
                    <input type="checkbox" id="inputCall1" name="Verified" class="peer" value="true">
                    <label for="inputCall1" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Show Verified Accommodations</span></label>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>