@model List<Data.DataModel.AccomodationImage>

<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 380px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 380px;
            height: 250px;
            cursor: pointer;
        }

    .desc {
        opacity: 0.5;
    }

    i.fa-check {
        color: green;
        font-size: 18px;
        position: absolute;
        z-index: 5;
        background-color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: none;
        text-align: center;
    }

    .dis {
        display: block !important
    }

    .send_image {
        display: block;
        padding: 0 30px;
        text-align: center;
        line-height: 32px;
        background: #22b6b7;
        color: #fff;
        margin:20px 5px;
        border-radius: 5px;
        cursor: pointer;
        width: 200px;
    }
</style>
<div>
    @foreach (var Item in Model)
    {

        <div class="gallery">
            <div class="img_child"><i class="fas fa-check"></i></div>

            <img src="@Item.Link" id="@Item.ImageID" class="select-image">
        </div>

    }

</div>
<button class="send_image" type="submit">Send</button>

<script type="text/javascript" src="~/Content/Scripts/jquery.js"></script>

<script>
    $(document).ready(function () {
        $(".select-image").click(function () {
            $(this).toggleClass("desc");
            $(this).parent().find("i.fa-check").toggleClass("dis")
            var ID = $(this).parent().find("img.desc").attr("id");
            alert(ID)
        });
    });

</script>