@model Data.ViewModel.AccommodationModels.AccommodationListViewModel
@{
    string Message_Alert = Common.iUserStorage.Retrive<string>
    (Constants.PublicConstants.Session.Message_Error);
    string Message_Success = Common.iUserStorage.Retrive<string>
        (Constants.PublicConstants.Session.Message_Success);
}
<div class="container-fluid">
    <h4 class="c-grey-900 mT-10 mB-30">Accommodation</h4>
    @if (!String.IsNullOrEmpty(Message_Alert))
    {
        <div class="alert alert-danger" role="alert">@Message_Alert</div>
        Common.iUserStorage.Remove(Constants.PublicConstants.Session.Message_Error);
    }
    @if (!String.IsNullOrEmpty(Message_Success))
    {
        <div class="alert alert-success" role="alert">@Message_Success</div>
        Common.iUserStorage.Remove(Constants.PublicConstants.Session.Message_Success);
    }
    @if (Model.AccommodationList == null)
    {
        @RenderPage("_Search.cshtml")
    }
    else
    {
        @RenderPage("_Table.cshtml")
    }
</div>
