@model Data.ViewModel.WeatherModels.Forecast.Root
    <div class="bd bgc-white p-20">
        <div class="layers">
            <div class="layer w-100 mB-20">
                <h6 class="lh-1">Weather</h6>
            </div>
            <div class="layer w-100">
                <div class="peers ai-c jc-sb fxw-nw">
                    <div class="peer peer-greed">
                        <div class="layers">
                            <div class="layer w-100">
                                <div class="peers fxw-nw ai-c">
                                    <div class="peer mR-20">
                                        <h3>32<sup>°F</sup></h3>
                                    </div>
                                    <div class="peer">
                                        <canvas class="sleet" width="44" height="44"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="layer w-100"><span class="fw-600 c-grey-600">Partly Clouds</span></div>
                        </div>
                    </div>
                    <div class="peer">
                        <div class="layers ai-fe">
                            <div class="layer">
                                <h5 class="mB-5">Monday</h5>
                            </div>
                            <div class="layer"><span class="fw-600 c-grey-600">Nov, 01 2017</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layer w-100 mY-30">
                <div class="layers bdB">
                    <div class="layer w-100 bdT pY-5">
                        <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer"><span>Wind</span></div>
                            <div class="peer ta-r"><span class="fw-600 c-grey-800">10km/h</span></div>
                        </div>
                    </div>
                    <div class="layer w-100 bdT pY-5">
                        <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer"><span>Sunrise</span></div>
                            <div class="peer ta-r"><span class="fw-600 c-grey-800">05:00 AM</span></div>
                        </div>
                    </div>
                    <div class="layer w-100 bdT pY-5">
                        <div class="peers ai-c jc-sb fxw-nw">
                            <div class="peer"><span>Pressure</span></div>
                            <div class="peer ta-r"><span class="fw-600 c-grey-800">1B</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layer w-100">
                <div class="peers peers-greed ai-fs ta-c">
                    <div class="peer">
                        <h6 class="mB-10">MON</h6>
                        <canvas class="sleet" width="30" height="30"></canvas><span class="d-b fw-600">32<sup>°F</sup></span>
                    </div>
                    <div class="peer">
                        <h6 class="mB-10">TUE</h6>
                        <canvas class="clear-day" width="30" height="30"></canvas><span class="d-b fw-600">30<sup>°F</sup></span>
                    </div>
                    <div class="peer">
                        <h6 class="mB-10">WED</h6>
                        <canvas class="partly-cloudy-day" width="30" height="30"></canvas><span class="d-b fw-600">28<sup>°F</sup></span>
                    </div>
                    <div class="peer">
                        <h6 class="mB-10">THR</h6>
                        <canvas class="cloudy" width="30" height="30"></canvas><span class="d-b fw-600">32<sup>°F</sup></span>
                    </div>
                    <div class="peer">
                        <h6 class="mB-10">FRI</h6>
                        <canvas class="snow" width="30" height="30"></canvas><span class="d-b fw-600">24<sup>°F</sup></span>
                    </div>
                    <div class="peer">
                        <h6 class="mB-10">SAT</h6>
                        <canvas class="wind" width="30" height="30"></canvas><span class="d-b fw-600">28<sup>°F</sup></span>
                    </div>
                    <div class="peer">
                        <h6 class="mB-10">SUN</h6>
                        <canvas class="sleet" width="30" height="30"></canvas><span class="d-b fw-600">32<sup>°F</sup></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe src="/Public/Index?Lat=@Model.Google.Lat&Lng=@Model.Google.Lng" height="500" width="100%"></iframe>