@model List<Data.DataModel.Airport>

<div class="container-fluid">
    <h4 class="c-grey-900 mT-10 mB-30">Airports</h4>
    @if (Session["Message-Success"].ToString() != string.Empty)
    {
        <div class="alert alert-success" role="alert">This is a success alert—check it out!</div>
        Session["Message-Success"] = null;
    }
    @if (Model.Count != 0)
    {
        @RenderPage("_Table.cshtml")
    }
    else
    {
        @RenderPage("_Search.cshtml")
    }
</div>