@{
    ViewBag.Title = "Verify Panel";
}

<div class="wrapper">
    <div class="box_parent">
        <h2>Images</h2>
        <div class="img_box">
            <div id="hotelimages" class="owl-carousel owl-theme">
            </div>
        </div>
        <div class="img_box">
            <div id="roomimages" class="owl-carousel owl-theme">
            </div>
        </div>
    </div>
    <div class="box_parent">
        <h2>Descripion</h2>
        <textarea name="editor1" id="editor1">
        </textarea>
    </div>
    <div class="box_parent">
        <div class="Lat_box">
            <h2>Lat&Long</h2>

            <div class="filed">
                <label>Address :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>Email :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>Fax :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>Latitude :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>Longitude :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>Rating :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>Name :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>

        </div>
        <div class="Lat_box">
            <h2>Facility</h2>

            <div class="filed">
                <label>Url :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>CityName :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>Telephone :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>Verified Date :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>Country :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>name :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>
            <div class="filed">
                <label>name :</label><input type="text" class="hidden" readonly /><i class="fas fa-pencil-alt"></i>
            </div>

        </div>
    </div>
</div>

<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            1000: {
                items: 1
            }
        }
    });

    CKEDITOR.replace('editor1');
    $("body").on("click", ".fa-pencil-alt", function () {
        $(this).parent().find("input.hidden").addClass("show-border");
        $(this).parent().find("input.hidden").attr("readonly",false);
    })
    $("body").on("blur",".hidden", function () {
        $(this).removeClass("show-border");
        $(this).attr("readonly", true);
    })
    @*$(document).ready(function () {
        $.get("/VerifyPanel/GetAccommodationInfo/" + @Model, function (response) {
            if (response.success) {
                $.each(response.data.RoomImages, function () {
                    $("#roomimages").append('<div class="item"><img src="' + this.Url + '"/></div>');
                });
                $.each(response.data.AccommodationImages, function () {
                    $("#hotelimages").append('<div class="item"><img src="' + this.Url + '"/></div>');
                });
                CKEDITOR.instances['editor1'].setData(response.data.Description);
            }
        });
    })*@
</script>